@using OnlineTicketing.Models
@model List<Movie>

@{
    ViewData["Title"] = "Cart";
}


<h4>Cart</h4>

<section>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">

                <div class="card mb-4">
                    <div class="card-body p-4">
                        @foreach (var item in Model)
                        {
                            <div class="row align-items-center">
                                <div class="col-md-2">
                                    <img src="@item.ImageUrl" class="img-fluid" alt="Generic placeholder image">
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Name</p>
                                        <p class="lead fw-normal mb-0">@item.Name</p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Price</p>
                                        <p class="lead fw-normal mb-0">@item.Price</p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Remove</p>
                                        <form asp-action="RemoveFromCart" asp-route-id="@item.Id">
                                            <input type="submit" class="btn btn-danger" value="Remove From Cart" />
                                        </form>
                                    </div>
                                </div>

                            </div>

                        }



                    </div>
                </div>

                <div class="card mb-5">
                    <div class="card-body p-4">

                        <div class="float-end">
                            <p class="mb-0 me-5 d-flex align-items-center">
                                <span class="small text-muted me-2">Order total: </span> <span class="lead fw-normal" style="padding-left:2px">@Model.Sum(c => c.Price)</span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-light" asp-controller="Home" asp-action="Index">Continue Browsing</a><br />
                    <form asp-controller="Order" asp-action="Book">
                        <input type="submit" class="btn btn-success" value="Book" />
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>